* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden; /* Disable scrolling */
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://raw.githubusercontent.com/cederlinkofficial1/CEDERLINK/main/src/blueBKG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Place background behind other content */
}

.app {
    height: 100vh;
    width: 100%;
}