.mountain-image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mountain-image-container img {
  margin-right: 6.5%;
  width: 915px;
  height: 180px;
  object-position: right;
  margin-bottom: -20px;
}

.image-error {
  padding: 20px;
  background-color: #f8f8f8;
  color: #666;
  text-align: center;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .mountain-image-container {
    justify-content: center;
    margin-top: 20px;
  }
}