.zero-image-container {
    position: absolute;
    right: 0%; /* Push it partially off-screen */
    top: 40.4%;
    transform: translateY(-50%);
    height: 81vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.zero-img {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 0.9;
}

@media (max-width: 1200px) {
    .zero-image-container {
        right: -40%;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .zero-image-container {
        right: -60%;
        height: 50vh;
    }
}